<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/login.css}" href="../static/login.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

</head>
<body>


<h2>Login Form</h2>
<p>
    <i th:if="${param.error}" class="error">Wrong username or password.</i>
</p>
<p>
    <i th:if="${param.logout}">You have been successfully logged out.</i>
</p>
<form th:action="@{/authenticate}" method="post">

    <div class="container">
        <label><b>Username</b></label>
        <input type="text" placeholder="Enter Username" id="username" name="username"/>

        <label><b>Password</b></label>
        <input type="password" placeholder="Enter Password" id="password" name="password"/>

        <button type="submit" id="loginbutton" value="Login"/>Login</button>
    </div>
    <div class="container">
        <p>Don't have an account? <a th:href="@{/register}">Sign up</a>.</p>
    </div>

</form>
</body>
</html>
