<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registration page</title>
    <link rel="stylesheet" th:href="@{/register.css}" href="../static/register.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>

<form action="#" th:action="@{/register}" th:object="${user}" method="post">
    <div class="container">
        <h1>Register</h1>
        <p>Please fill in this form to create an account.</p>
        <p><i th:if="${error != null}" th:text="${error}" class="error"/></p>
        <hr>

        <label><b>User</b></label>
        <input type="text" required="required" id="username" laceholder="Enter Username" th:field="*{username}"/>

        <label><b>Password</b></label>
        <input type="password" required="required" id="password" placeholder="Enter Password" th:field="*{password}"/>

        <label><b>Repeat Password</b></label>
        <input type="password" required="required" id="passwordConfirmation"  placeholder="Repeat Password" th:field="*{passwordConfirmation}"/>
        <hr>

        <button type="submit" class="registerbtn" id="registerbutton">Register</button>
    </div>

    <div class="container signin">
        <p>Already have an account? <a th:href="@{/login}">Sign in</a>.</p>
    </div>
</form>

</body>
</html>