<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<title>Update profile info</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-blue-grey.css">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
    html, body, h1, h2, h3, h4, h5 {
        font-family: "Open Sans", sans-serif
    }
</style>
<body class="w3-theme-l5">

<!-- Navbar -->
<div class="w3-top">
    <div class="w3-bar w3-theme-d2 w3-left-align w3-large">
        <div class="w3-bar-item">
            <form th:action="@{/users}" method="post">
                <label>
                    <input type="text" placeholder="Search for Buddies!" name="search">
                </label>
                <button type="submit"><i class="fa fa-search"></i></button>
            </form>
        </div>
        <a href="#" th:href="@{/logout}" sec:authorize="isAuthenticated()"
           class="w3-bar-item w3-button w3-hide-small w3-right w3-padding-large w3-hover-white" title="Logout"><i
                class="fa fa-sign-out" aria-hidden="true"></i></a>
        <a href="#" th:href="@{'/users/'+ ${loggedUser.getUsername()}}"
           class="w3-bar-item w3-button w3-hide-small w3-right w3-padding-large w3-hover-white" title="My Account">
            <span sec:authentication="name"/>
            <img th:src="${loggedUser.getProfilePhoto()} == null ? '/nin.png' : 'data:image/png;base64,'+${loggedUser.printProfilePicture()}"
                 src="../static/nin.png" class="w3-circle" style="height:23px;width:23px" alt="Avatar">
        </a>
    </div>
</div>

<!-- Navbar on small screens -->
<div id="navDemo" class="w3-bar-block w3-theme-d2 w3-hide w3-hide-large w3-hide-medium w3-large">
    <a href="#" class="w3-bar-item w3-button w3-padding-large">Link 1</a>
    <a href="#" class="w3-bar-item w3-button w3-padding-large">Link 2</a>
    <a href="#" class="w3-bar-item w3-button w3-padding-large">Link 3</a>
    <a href="#" class="w3-bar-item w3-button w3-padding-large">My Profile</a>
</div>

<div id="popup1" class="overlay">
    <h2>Edit personal info:</h2>
    <div id="content">
        <div class="col-6 offset-3">
            <form action="" th:action="@{'/users/' + ${loggedUser.getUsername()} + ' /update-info'}"
                  th:object="${loggedUser}" th:method="put" enctype="multipart/form-data">
                <br>
                <label th:text="'First name: '"></label>
                <input id="first name" type="text" th:field="*{firstName}"/>
                <br>
                <label th:text="'Last name: '"></label>
                <input id="last name" type="text" th:field="*{lastName}"/>
                <br>
                <label for="gender" class="control-label">Gender:
                    <select name="gender" id="gender">
                        <option th:each="Gender : ${gender}" th:value="${Gender}" th:text="${Gender}" th:field="*{gender}"></option>
                    </select>
                </label>
                <br>
                <label for="profilePicturePrivacy" class="control-label">Profile pic privacy:
                    <select name="profilePicturePrivacy" id="profilePicturePrivacy">
                        <option th:each="Privacy : ${profilePicturePrivacy}" th:value="${Privacy}" th:text="${Privacy}" th:field="*{profilePicturePrivacy}"></option>//
                    </select>
                </label>
                <br>
                <label th:text="'Date of birth: '"></label>
                <input id="dateOfBirth" type="date" th:text="${dateOfBirth}"/>
                <br>
                <label th:text="'Town of birth: '"></label>
                <input id="townOfBirth" type="text" th:field="*{townOfBirth}"/>
                <br>
                <label th:text="'Country of birth: '"></label>
                <input id="countryOfBirth" type="text" th:field="*{countryOfBirth}"/>
                <br>
                <label th:text="'Town of residence: '"></label>
                <input id="townOfResidence" type="text" th:field="*{townOfResidence}"/>
                <br>
                <label th:text="'Country of residence: '"></label>
                <input id="countryOfResidence" type="text" th:field="*{countryOfResidence}"/>
                <br>
                <label th:text="'Email: '"></label>
                <input id="email" type="text" th:field="*{email}"/>
                <br>
                <label th:text="'Profile pic: '"></label>
                <input id="profilePhoto" type="file" th:field="*{profilePhoto}">

                <br/><br/>
                <input id="updateInfoBtn" type="submit" value="Save changes"/>
            </form>
        </div>
    </div>
</div>

</body>
</html>