<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<title>Social Network</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-blue-grey.css">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" th:href="@{/users.css}" type="text/css" href="../static/users.css"/>
<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<style>
    html, body, h1, h2, h3, h4, h5 {
        font-family: "Open Sans", sans-serif
    }

    a:link {
        text-decoration: none;
    }
</style>
<body class="w3-theme-l5">

<!-- Navbar -->
<div class="w3-top">
    <div class="w3-bar w3-theme-d2 w3-left-align w3-large">
        <div class="w3-bar-item">
            <form th:action="@{/users}" method="post">
                <label>
                    <input type="text" placeholder="Search for Buddies!" name="search" id="postTextInput">
                </label>
                <button type="submit"><i class="fa fa-search"></i></button>
            </form>
        </div>
        <a href="#" th:href="@{/logout}" sec:authorize="isAuthenticated()"
           class="w3-bar-item w3-button w3-hide-small w3-right w3-padding-large w3-hover-white" title="Logout"><i
                class="fa fa-sign-out" aria-hidden="true"></i></a>
        <a href="#" th:href="@{'/users/'+ ${loggedUser.getUsername()}}"
           class="w3-bar-item w3-button w3-hide-small w3-right w3-padding-large w3-hover-white" title="My Account">
            <span sec:authentication="name"/>
            <img th:src="${loggedUser.getProfilePhoto()} == null ? '/nin.png' : 'data:image/png;base64,'+${loggedUser.printProfilePicture()}"
                 src="../static/nin.png" class="w3-circle" style="height:23px;width:23px" alt="Avatar">
        </a>
    </div>
</div>

<!-- Navbar on small screens -->
<div id="navDemo" class="w3-bar-block w3-theme-d2 w3-hide w3-hide-large w3-hide-medium w3-large">
    <a href="#" class="w3-bar-item w3-button w3-padding-large">Link 1</a>
    <a href="#" class="w3-bar-item w3-button w3-padding-large">Link 2</a>
    <a href="#" class="w3-bar-item w3-button w3-padding-large">Link 3</a>
    <a href="#" class="w3-bar-item w3-button w3-padding-large">My Profile</a>
</div>

<div class="container">
    <div class="row">
        <h3>Search results:</h3>
    </div>
    <div class="row" th:if="${search.isEmpty() || search.size() > 2}">
        <p>No matches found!</p>
    </div>
    <div class="row" th:if="!${search.isEmpty()}">
        <div class="col-xs-12 col-sm-offset-3 col-sm-6">
            <div class="panel panel-default">
                <ul class="list-group" id="contact-list" th:each="user : ${search}">
                    <li class="list-group-item">
                        <div class="col-xs-12 col-sm-3"
                             th:onclick="'window.location.href = \'' + @{/users/{username}(username=${user.username})} + '\''">
                            <img th:src="${user.getProfilePhoto()} == null ? '/nin.png' : 'data:image/png;base64,' + ${user.printProfilePicture()}"
                                 alt="Profile Picture" class="img-responsive img-circle"/>
                        </div>
                        <div class="w3-container" sec:authorize="isAuthenticated()">
                            <div class="w3-row w3-opacity" th:if="${loggedUser != user}">
                                    <span class="name"
                                          th:text="${user.getFirstName() + ' ' + (user.getLastName())}"></span><br/>
                                <div th:if="${!loggedUser.getFriends().contains(user) && !loggedUser.getRequestsSent().contains(user) && !user.getRequestsReceived().contains(loggedUser)}">
                                    <a th:href="@{'/users/sentRequest/'+ ${user.getUsername()}}">
                                        <button type="submit" class="w3-button w3-block w3-green w3-section"
                                                title="Sent Request"><i class="fa fa-check"></i>Add Buddy
                                        </button>
                                    </a>
                                </div>
                                <div th:if="${loggedUser.getRequestsSent().contains(user)}">
                                    <a th:href="@{'/users/cancelRequest/'+ ${user.getUsername()}}">
                                        <button onclick="cancelRequest()" type="button"
                                                class="w3-button w3-block w3-gray w3-section"
                                                title="Cancel Request"><i
                                                class="fa fa-check"></i>Request Sent
                                        </button>
                                    </a>
                                </div>
                                <div th:if="${loggedUser.getFriends().contains(user)}">
                                    <a th:href="@{'/users/unFriend/'+ ${user.getUsername()}}">
                                        <button class="w3-button w3-block w3-red w3-section"
                                                title="Remove from Buddies"><i
                                                class="fa fa-remove"></i>Remove Buddy
                                        </button>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="clearfix"></div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <!-- JavaScrip Search Plugin -->
    <script src="//rawgithub.com/stidges/jquery-searchable/master/dist/jquery.searchable-1.0.0.min.js"></script>

</div>
</body>
</html>