<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<title>Social Network</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-blue-grey.css">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
    html, body, h1, h2, h3, h4, h5 {
        font-family: "Open Sans", sans-serif
    }
</style>
<body class="w3-theme-l5">

<!-- Navbar -->
<div class="w3-top">
    <div class="w3-bar w3-theme-d2 w3-left-align w3-large">
        <a href="#" th:href="@{/}" class="w3-bar-item w3-button w3-padding-large w3-theme-d4"><i class="fa fa-home w3-margin-right"></i>Home</a>
        <div class="w3-bar-item">
            <form th:action="@{/users}" method="post">
                <label>
                    <input type="text" placeholder="Search for Buddies!" name="search">
                </label>
                <button type="submit"><i class="fa fa-search"></i></button>
            </form>
        </div>
        <a href="#" th:href="@{/logout}" sec:authorize="isAuthenticated()"
           class="w3-bar-item w3-button w3-hide-small w3-right w3-padding-large w3-hover-white" title="Logout"><i
                class="fa fa-sign-out" aria-hidden="true"></i></a>
        <a href="#" th:href="@{'/users/'+ ${loggedUser.getUsername()}}"
           class="w3-bar-item w3-button w3-hide-small w3-right w3-padding-large w3-hover-white" title="My Account">
            <span sec:authentication="name"/>
            <img th:src="${loggedUser.getProfilePhoto()} == null ? '/nin.png' : 'data:image/png;base64,'+${loggedUser.printProfilePicture()}"
                 src="../static/nin.png" class="w3-circle" style="height:23px;width:23px" alt="Avatar">
        </a>
    </div>
</div>

<!-- Navbar on small screens -->
<div id="navDemo" class="w3-bar-block w3-theme-d2 w3-hide w3-hide-large w3-hide-medium w3-large">
    <a href="#" class="w3-bar-item w3-button w3-padding-large">Link 1</a>
    <a href="#" class="w3-bar-item w3-button w3-padding-large">Link 2</a>
    <a href="#" class="w3-bar-item w3-button w3-padding-large">Link 3</a>
    <a href="#" class="w3-bar-item w3-button w3-padding-large">My Profile</a>
</div>

<!-- Page Container -->
<div class="w3-container w3-content" style="max-width:1400px;margin-top:80px">
    <!-- The Grid -->
    <div class="w3-row">
        <!-- Left Column -->
        <div class="w3-col m3"></div>

        <!-- Middle Column -->

        <div class="w3-col m7">

            <div class="w3-row-padding">
                <div class="w3-col m12">
                    <div class="w3-card w3-round w3-white">
                        <div class="w3-container w3-padding">
                            <h4 class="w3-center" th:text=="${user.getUsername()}">My Profile</h4>
                            <a href="#" th:href="@{'/users/' + ${user.getUsername()}}"
                               class="w3-bar-item w3-button w3-hide-small w3-right w3-padding-large w3-hover-white"
                               title="My Account">
                                <img th:src="${user.getProfilePhoto()} == null ? '/nin.png' : 'data:image/png;base64,'+${user.printProfilePicture()}"
                                     class="w3-circle" style="height:106px;width:106px" alt="Avatar">
                                </p>
                            </a>
                            <hr>
                            <div th:if="${user.getFirstName() != null}">
                                <p th:text="${'First name: ' + user.getFirstName()}">
                                    <i class="fa fa-pencil fa-fw w3-margin-right w3-text-theme"></i></p>
                            </div>
                            <div th:if="${user.getLastName() != null}">
                                <p th:text="${'Last name: ' + user.getLastName()}">
                                    <i class="fa fa-pencil fa-fw w3-margin-right w3-text-theme"></i></p>
                            </div>
                            <div th:if="${user.getGender() != null}">
                                <p th:text="${'Gender: ' + user.getGender()}">
                                    <i class="fa fa-home fa-fw w3-margin-right w3-text-theme"></i></p>
                            </div>
                            <div th:if="${user.getDateOfBirth() != null}">
                                <p th:text="${'Date of birth : ' + user.getDateOfBirth()}">
                                    <i class="fa fa-male fa-fw w3-margin-right w3-text-theme"></i></p>
                            </div>
                            <div th:if="${user.getTownOfBirth() != null && user.getCountryOfBirth() != null}">
                                <p th:text="${'Born in: ' + user.getTownOfBirth() + ' ' + user.getCountryOfBirth()}">
                                    <i class="fa fa-home fa-fw w3-margin-right w3-text-theme"></i></p>
                            </div>
                            <div th:if="${user.getTownOfBirth() != null && user.getCountryOfBirth() == null}">
                                <p th:text="${'Born in: ' + user.getTownOfBirth()}">
                                    <i class="fa fa-home fa-fw w3-margin-right w3-text-theme"></i></p>
                            </div>
                            <div th:if="${user.getTownOfBirth() == null && user.getCountryOfBirth() != null}">
                                <p th:text="${'Born in: ' + user.getCountryOfBirth()}">
                                    <i class="fa fa-home fa-fw w3-margin-right w3-text-theme"></i></p>
                            </div>
                            <div th:if="${user.getTownOfResidence() != null && user.getCountryOfResidence() != null}">
                                <p th:text="${'Lives in: ' + user.getTownOfResidence() + ' ' + user.getCountryOfResidence()}">
                                    <i class="fa fa-home fa-fw w3-margin-right w3-text-theme"></i></p>
                            </div>
                            <div th:if="${user.getTownOfResidence() != null && user.getCountryOfResidence() == null}">
                                <p th:text="${'Lives in: ' + user.getTownOfResidence()}">
                                    <i class="fa fa-home fa-fw w3-margin-right w3-text-theme"></i></p>
                            </div>
                            <div th:if="${user.getTownOfResidence() == null && user.getCountryOfResidence() != null}">
                                <p th:text="${'Lives in: ' + user.getCountryOfResidence()}">
                                    <i class="fa fa-home fa-fw w3-margin-right w3-text-theme"></i></p>
                            </div>
                            <div th:if="${user.getEmail() != null}">
                                <p th:text="${'Email: ' + user.getEmail()}">
                                    <i class="fa fa-home fa-fw w3-margin-right w3-text-theme"></i></p>
                            </div>
                            <div th:if="${user.getProfilePicturePrivacy() != null}">
                                <p th:text="${'Picture Privacy: ' + user.getProfilePicturePrivacy()}">
                                    <i class="fa fa-home fa-fw w3-margin-right w3-text-theme"></i></p>
                            </div>
                            <div th:if="${user.getUsername() == loggedUser.getUsername()}">
                                <form action="update-info" method="get">
                                    <button type="submit" id="updateProfileBtn" class="w3-button w3-theme"><i class="fa fa-pencil"></i>Update personal info</button>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- End Middle Column -->
        </div>
        <!-- Right Column -->
        <div class="w3-col m2">
            <!-- End Right Column -->
        </div>

        <!-- End Grid -->
    </div>
    <!-- End Page Container -->
</div>
<br>

<!-- Footer -->
<footer class="w3-container w3-theme-d3 w3-bottom">
    <h5>BuddyBook v1.1.3</h5>
</footer>

<script>
    // Accordion
    function myFunction(id) {
        var x = document.getElementById(id);
        if (x.className.indexOf("w3-show") == -1) {
            x.className += " w3-show";
            x.previousElementSibling.className += " w3-theme-d1";
        } else {
            x.className = x.className.replace("w3-show", "");
            x.previousElementSibling.className =
                x.previousElementSibling.className.replace(" w3-theme-d1", "");
        }
    }

    // Used to toggle the menu on smaller screens when clicking on the menu button
    function openNav() {
        var x = document.getElementById("navDemo");
        if (x.className.indexOf("w3-show") == -1) {
            x.className += " w3-show";
        } else {
            x.className = x.className.replace(" w3-show", "");
        }
    }
</script>
</body>
</html>