<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<title>Social Network</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-blue-grey.css">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
    html, body, h1, h2, h3, h4, h5 {font-family: "Open Sans", sans-serif}
    a:link {text-decoration: none;}
</style>
<body class="w3-theme-l5">

<!-- Navbar -->
<div class="w3-top">
    <div class="w3-bar w3-theme-d2 w3-left-align w3-large">
        <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-theme-d2" href="javascript:void(0);" onclick="openNav()"><i class="fa fa-bars"></i></a>
        <a href="#" th:href="@{/}" class="w3-bar-item w3-button w3-padding-large w3-theme-d4"><i class="fa fa-home w3-margin-right"></i>Home</a>
        <a href="#" th:href="@{'/users/'+${loggedUser.getUsername()+'/user-details'}}" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white" title="Account Settings"><i class="fa fa-user"></i></a>
        <div class="w3-bar-item">
            <form th:action="@{/users}" method="post">
                <label>
                    <input type="text" placeholder="Search for Buddies!" name="search">
                </label>
                <button type="submit"><i class="fa fa-search"></i></button>
            </form>
        </div>
        <a href="#" th:href="@{/logout}" sec:authorize="isAuthenticated()" class="w3-bar-item w3-button w3-hide-small w3-right w3-padding-large w3-hover-white" title="Logout"><i class="fa fa-sign-out" aria-hidden="true"></i></a>
        <a href="#" th:href="@{${loggedUser.getUsername()}}" class="w3-bar-item w3-button w3-hide-small w3-right w3-padding-large w3-hover-white" title="My Account">
            <span sec:authentication="name"/>
            <img th:src="${loggedUser.getProfilePhoto()} == null ? '/nin.png' : 'data:image/png;base64,'+${loggedUser.printProfilePicture()}" src="../static/nin.png" class="w3-circle" style="height:23px;width:23px" alt="Avatar">
        </a>

    </div>
</div>

<!-- Navbar on small screens -->
<div id="navDemo" class="w3-bar-block w3-theme-d2 w3-hide w3-hide-large w3-hide-medium w3-large">
    <a href="#" class="w3-bar-item w3-button w3-padding-large">Link 1</a>
    <a href="#" class="w3-bar-item w3-button w3-padding-large">Link 2</a>
    <a href="#" class="w3-bar-item w3-button w3-padding-large">Link 3</a>
    <a href="#" class="w3-bar-item w3-button w3-padding-large" >My Profile</a>
</div>

<!-- Page Container -->
<div class="w3-container w3-content" style="max-width:1400px;margin-top:80px">
    <!-- The Grid -->
    <div class="w3-row">
        <!-- Left Column -->
        <div class="w3-col m3">
            <!-- Profile -->
            <div class="w3-card w3-round w3-white">
                <div class="w3-container">
                    <h4 class="w3-center"><a th:text=="${user.getUsername()}" th:href="@{'/users/'+${user.getUsername()+'/user-details'}}">My Profile</a></h4>
                    <p class="w3-center"><img th:src="${user.getProfilePhoto()} == null ? '/nin.png' : 'data:image/png;base64,'+${user.printProfilePicture()}"class="w3-circle" style="height:106px;width:106px" alt="Avatar"></p>

                    <hr>
                    <p th:text="${user.getFirstName() == null ?  'No Name': user.getFirstName() + ' ' +  (user.getLastName())}"><i class="fa fa-pencil fa-fw w3-margin-right w3-text-theme"></i>John Doe</p>
                    <p th:text="${user.getTownOfResidence() == null ?  'No Town': user.getTownOfResidence() + ', ' + (user.getCountryOfResidence())}"><i class="fa fa-home fa-fw w3-margin-right w3-text-theme"></i> London, UK</p>
                    <p th:text="${user.getDateOfBirth() == null ?  'No Birthdate': user.getDateOfBirth()}"><i class="fa fa-birthday-cake fa-fw w3-margin-right w3-text-theme"></i> April 1, 1988</p>
                </div>
            </div>
            <br>

            <!-- Accordion -->
            <div class="w3-card w3-round">
                <div class="w3-white">
                    <button onclick="myFunction('Demo1')" class="w3-button w3-block w3-theme-l1 w3-left-align"><i class="fa fa-circle-o-notch fa-fw w3-margin-right"></i> My Buddies</button>
                    <div id="Demo1" class="w3-hide w3-container">
                        <div th:each="friend : ${user.getFriends()}">
                            <a href="#" th:href="@{'/users/'+ ${friend.getUsername()}}"><p th:text="${friend.getFirstName() + ' ' + (friend.getLastName())}">John Doe</p></a>
                        </div>
                        <p>See all Buddies</p>
                    </div>

                    <button onclick="myFunction('Demo3')" class="w3-button w3-block w3-theme-l1 w3-left-align"><i class="fa fa-users fa-fw w3-margin-right"></i> My Photos</button>
                    <div id="Demo3" class="w3-hide w3-container">
                        <div class="w3-row-padding">
                            <br>
                            <div th:each="post : ${user.getPosts()}" th:if="${post.hasPicture()}" class="w3-half">
<!--                                <img src="/w3images/lights.jpg" style="width:100%" class="w3-margin-bottom">-->
                                <img th:src="@{'data:image/png;base64,'+${post.printPostPicture()}}" style="width:100%" class="w3-margin-bottom">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>


        </div>

        <!-- Middle Column -->

        <div class="w3-col m7">

            <h3>
            <div class="container py-5" th:if="${allPosts.isEmpty() && loggedUser != user}">This user has no posts to show yet =( Maybe you should post on their wall?</div>
            </h3>
            <h3>
                <div class="container py-5" th:if="${allPosts.isEmpty() && loggedUser == user}">You have no posts yet.</div>
            </h3>

            <div class="w3-row-padding" th:if="${loggedUser.getFriends().contains(user) || loggedUser == user}">
                <div class="w3-col m12">
                    <div class="w3-card w3-round w3-white">
                        <div class="w3-container w3-padding">
                            <h6 class="w3-opacity">Share your thoughts here =)</h6>
                            <hr>
                            <form th:action="@{'/users/' + ${user.getUsername()}}" th:object="${newPost}" method="post" enctype="multipart/form-data">
                                <p><input class="w3-border w3-padding" type="text" id="postText" value="What is on your mind?" th:field="*{text}" />
                                    <input type="file" class="custom-file-input" id="myFile" name="picture" th:field="*{picture}"/>
                                </p>
                                     <div class="w3-button w3-theme">
                                        <select name="privacy" id="Privacy">
                                            <option th:each="privacy : ${T(socialnetwork.models.enums.Privacy).values()}" th:value="${privacy}" th:text="${privacy.getDisplayName()}" th:field="*{privacy}">
                                            </option>
                                        </select>
                                    </div>
                                <button type="submit" id="submitPostBtn" class="w3-button w3-theme"><i class="fa fa-pencil"></i>  Post</button>

                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container py-5" th:if="!${allPosts.isEmpty()}">
                <div class="w3-container w3-card w3-white w3-round w3-margin" th:each="post : ${allPosts}"><br>
                    <img th:src="${user.getProfilePhoto()} == null ? '/nin.png' : 'data:image/png;base64,'+${user.printProfilePicture()}" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:60px">
<!--                    <span class="w3-right w3-opacity" th:text="${post.getPostTime()}">1 min</span>-->
                                        <span class="w3-right w3-opacity" th:text="${post.getMinutesSincePosted()}"  >1 min</span>
                    <h4 th:text="${user.getFirstName() + ' ' + (user.getLastName())}"></h4><br>
                    <hr class="w3-clear">
                    <p th:text="${post.getText()}">Post Text</p>
                    <img th:if="${post.hasPicture()}" th:src="@{'data:image/png;base64,'+${post.printPostPicture()}}" style="width:50%" class="w3-margin-bottom">
                    <form th:action="@{'/users/comment/' + ${user.getUsername()}+'/'+${post.getPostID()}}" th:object="${newComment}" method="post">
                        <p><input class="w3-border w3-padding" type="text" id="commentInput" value="Comment here..." th:field="*{text}"/></p>
                        <a th:href="@{${post.getPostID()}+'/like/'+ ${user.getUsername()}}"><button type="button" id="likeButton" class="w3-button w3-theme-d1 w3-margin-bottom"><i class="fa fa-thumbs-up"></i> Like <span class="w3-badge w3-right w3-small w3-green" th:text="${post.getLikes().size()}">33</span></button></a>
                        <button type="submit" id="commentBtn" class="w3-button w3-theme-d2 w3-margin-bottom"><i class="fa fa-comment"></i>  Comment<span class="w3-badge w3-right w3-small w3-green" th:text="${post.getComments().size()}">33</span></button>
                        <a th:if="${post.getUser()==loggedUser}" th:href="@{'/posts/delete/'+${post.getPostID()}+'/'+ ${user.getUsername()}}"><button type="button" id="deletePostBtn" class="w3-button w3-theme-d1 w3-margin-bottom"><i class="fa fa-trash-o"></i> </button></a>
                    </form>

                    <div th:if="!${post.getComments().isEmpty()}">
                        <div class="w3-container w3-card w3-white w3-round w3-margin" th:each="comment : ${post.getComments()}"><br>
                            <img th:src="${comment.getUser().getProfilePhoto()} == null ? '/nin.png' : 'data:image/png;base64,'+${comment.getUser().printProfilePicture()}" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:60px">
                            <span class="w3-right w3-opacity" th:text="${comment.getMinutesSincePosted()}">1 min</span>
                            <h4 th:text="${comment.getUser().getFirstName() + ' ' + (comment.getUser().getLastName())}">John Doe</h4><br>
                            <p th:text="${comment.getText()}"></p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Middle Column -->
        </div>

        <!-- Right Column -->

        <div class="w3-col m2">
            <div class="w3-card w3-round w3-white w3-center">
                <div class="w3-container" sec:authorize="isAuthenticated()">
                    <div class="w3-row w3-opacity" th:if="${loggedUser != user}">
                        <div th:if="${!loggedUser.getFriends().contains(user) && !loggedUser.getRequestsSent().contains(user) && !loggedUser.getRequestsReceived().contains(user)}">
                            <a th:href="@{'/users/sentRequest/'+ ${user.getUsername()}}">
                                <button type="submit" class="w3-button w3-block w3-green w3-section" id="sent Request" title="Sent Request"><i class="fa fa-check"></i>Add Buddy</button>
                            </a>
                        </div>
                        <div th:if="${loggedUser.getRequestsSent().contains(user)}">
                            <a th:href="@{'/users/cancelRequest/'+ ${user.getUsername()}}">
                                <button onclick="cancelRequest()" type="button" class="w3-button w3-block w3-gray w3-section" id="cancel Request" title="Cancel Request"><i class="fa fa-check"></i>Request Sent</button>
                            </a>
                        </div>
                        <div th:if="${loggedUser.getFriends().contains(user)}">
                            <a th:href="@{'/users/unFriend/'+ ${user.getUsername()}}">
                                <button class="w3-button w3-block w3-red w3-section" id="removeBuddyBtn" title="Remove from Buddies"><i class="fa fa-remove"></i>Remove Buddy</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <br>

            <!-- End Right Column -->
        </div>
        <div th:if="${loggedUser.getRequestsReceived()!=null && user==loggedUser}" th:each="request : ${loggedUser.getRequestsReceived()}" class="w3-col m2">
            <div class="w3-card w3-round w3-white w3-center">
                <div class="w3-container">
                    <p>Buddy Request</p>
                    <a href="#" th:href="@{'/users/'+ ${request.getUsername()}}">
                        <img th:src="${request.getProfilePhoto()} == null ? '/nin.png' : 'data:image/png;base64,'+${request.printProfilePicture()}" src="/w3images/avatar6.png" alt="Avatar" style="width:50%"><br></a>
                    <span th:text="${request.getFirstName() +' '+ request.getLastName()}">Jane Doe</span>
                    <div class="w3-row w3-opacity">
                        <div class="w3-half">
                            <a th:href="@{'/users/friend/'+ ${request.getUsername()}}">
                            <button class="w3-button w3-block w3-green w3-section" id="accept request" title="Accept"><i class="fa fa-check"></i></button>
                            </a>
                        </div>
                        <div class="w3-half">
                            <a th:href="@{'/users/denyRequest/'+ ${request.getUsername()}}">
                            <button class="w3-button w3-block w3-red w3-section" id="deny request" title="Decline"><i class="fa fa-remove"></i></button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <br>

            <!-- End Right Column -->
        </div>
        <!-- End Grid -->
    </div>

    <!-- End Page Container -->
</div>
<br>

<!-- Footer -->


<script>
    // Accordion
    function myFunction(id) {
        var x = document.getElementById(id);
        if (x.className.indexOf("w3-show") == -1) {
            x.className += " w3-show";
            x.previousElementSibling.className += " w3-theme-d1";
        } else {
            x.className = x.className.replace("w3-show", "");
            x.previousElementSibling.className =
                x.previousElementSibling.className.replace(" w3-theme-d1", "");
        }
    }
    // Used to toggle the menu on smaller screens when clicking on the menu button
    function openNav() {
        var x = document.getElementById("navDemo");
        if (x.className.indexOf("w3-show") == -1) {
            x.className += " w3-show";
        } else {
            x.className = x.className.replace(" w3-show", "");
        }
    }
    function cancelRequest() {
        if (confirm("Are you sure you want to cancel your request")) {
            txt = "You pressed OK!";
        } else {
            txt = "You pressed Cancel!";
        }
    }
</script>
</body>
</html>