body {
    width: 1200px;
    background-color: rgb(255, 255, 255);
}

h1, h3 {
    text-align: center;
    padding-bottom: 50px;
    font-size: 50px;
}

.stefan-image-stuff {
    border: 3px;
    border-color: coral;
    width: 150px;
    height: 150px;
}

.stefan-bolded-text {
    font-weight: bold;
}

.iva-image {
    border: 3px;
    border-color: blue;
    width: 150px;
    height: 150px;
}

.iva-italic-text {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.slaveya-image-stuff {
    border: 5px;
    border-style: dotted;
    border-color: aqua;
    width: 150px;
    height: 150px;
}

.slaveya-underlined-text {
    font-family: 'Courier New', Courier, monospace;
    text-decoration: underline;

}

.martin-image {
    border: 10px;
    border-style: outset;
    border-color: chartreuse;
    width: 150px;
    height: 150px;

}


div .people {
    float: left;
    padding-left: 30px;
    text-align: center;
}

#savina-image, #kremena-image {
    width: 150px;
    height: 150px;
}

.savinaName {
    font-weight: bold;
}

#container {
    width: 100%;
    margin: auto;
    margin-top: 50px;
}

.disabled{
    background-color: grey;
}