body{
    background-color: darkgray;
}
.mainDiv{
    width: 90%;
    text-align: center;
    font-family: Arial, sans-serif;
}

.mainDiv h1{
    margin-bottom: 80px;
}
.mainDiv section{
    width: 40%;
    flex-direction: row;
    display: inline-block;
}

img{
    width: 300px;
    height: 300px;
    border-radius: 146px;
}

section:nth-of-type(1){
    border-right-color: black;
    border-right-style: solid;
}
section:nth-of-type(2){
    text-align: left;
    padding-left: 20px;
}

