body {
    text-align: center;
    font-family: 'Courier New', Courier, monospace
}


.avatar{
    height: 300px;
    width: auto;
    border-style: dotted;
    border-color: aquamarine;
}

div.numbers .individual-number{
    width: auto;
    height: 100px;
}
.hide{
    display: none;
}