﻿body {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.table {
    display: table;
    background-color:white;
    border-collapse:collapse; table-layout:fixed;

}

.cell{
    border: 1px solid black;
    max-height: 200px;
    width: -moz-available;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

table, th, td {
    border: 1px solid black;
}
table {border-collapse:collapse; table-layout:fixed; width:310px;}

table td {border:solid 1px #fab; width:100px; word-wrap:break-word;}

th {
    background-color: #4CAF50;
    color: white;

}

td {
    max-height: 200px;
    width: 100px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.header {
    display: table-header-group;
    font-weight: bold;
}

.rowGroup {
    display: table-row-group;
}

.row {
    display: table-row;
}

.cell {
    display: table-cell;
    width: 25%;
}


.error {
    color: red;
}


.form-group{
    background: #fafafa;
    padding: 10px;}
h1 { margin-top: 0;
}

