/* Global Styles */
*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing:  border-box;
}

html{
    font-size: 10px;
    font-family: "Roboto",sans-serif;
    overflow-x: hidden;
}

:root{
    --main-font-color: #f2b632;
    --main-white-color: #fff;
    --main-font-dark-gray: #4d4d4d;
    --main-footer-bg-color: #141414;
    --main-font-familly: "Cheddar Jack", cursive;
}

section{
    padding: 6rem 0;
}

p{
    line-height: 1.5;
    font-size: 1.8rem;
    font-weight: 300;
    color: var(--main-font-dark-gray);
}

a{
    text-decoration: none;
    color: var(--main-white);
}

/* Reusable classes */
.btn{
    display:  inline-block;
    transition:  all 650ms;
    border-radius: 3px;
    text-transform: uppercase;
}

.btn-info{
    font-size: 1.2rem;
    padding: 1rem;
    color: var(--main-font-color);
    border-bottom: 2px solid var(--main-font-color);
    margin: 2rem 0 4rem 0;
}

.btn-info:hover{
    background-color: var(--main-font-color);
    color: var(--main-white);

}

.custom-font{
    font-family: var(--main-font-familly);
    color: var(--main-font-color);
    font-size: 6.5rem;
   
    line-height: 1;
    font-weight: 100;
}

.custom-font-secondary{
    text-transform: uppercase;
    letter-spacing: 5px;
    margin-right: -5px;
    font-size: 2rem;
    line-height: .2;
    color: var(--main-font-dark-gray);
    margin-bottom: 5rem;
}

.container{
    width: 90%;
    margin: 0 auto;
    text-align: center;
}

.between-sec{
    padding: 20rem 0;
}
.between-sec-color{
    color: var(--main-white);
}
/* Header */
header{
    width: 100%;
    height: 100vh;
    background-image: url("images/8.jpg");
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    text-align: center;

    position: relative;
}
.p{
    --main-fonnt-familly: "Cheddar Jack", cursive;
    text-align: center;
}
/* 
.menu .bar,
.menu .bar::before,
.menu .bar::after{
    content: "";
    position: absolute;
    height: 2px;
    width: 4rem;
    background-color: var(--main-white);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    transition: 650 ms;
}

 .menu .bar:before{
    top: -2rem;
}

.menu .bar::after{
    top: 2rem;
} 

.active .bar{
    background-color: transparent;
}

.active .bar::before{
    transform: rotate(45deg);
}

.active .bar::afte{
    transform: rotate(-45deg);
}

.active .bar::before,
.active .bar::before{
    top: 0;
} */

/* Header nav */
.nav{
    width: 100%;
    height: 6rem;
    line-height: 6rem;
    position: fixed;
    top: 0px;
    background-color: white;
}

ul{
    float: right;
    list-style-type: none;
}
ul li{
    display: inline-block;
    font-size: 15px;

}
ul li a{
    text-decoration:  none;
    color: black;
    text-transform: uppercase; 
    padding: 5px 20px;
    border: 1px solid #e1aa2f;
    transition: 0.6s ease;
}
il li a:hover{
    background-color: #e1aa2f;
    color: #e1aa2f;
}

/* Header Main Text */

.main-text{
    line-height: 0;
    margin: auto;
    color: var(--main-white);
    user-select: none;    
}

.main-text h1{
    font-family: var(--main-font-familly);
    color: var(--main-font-color);
    font-size: 8rem;
    font-weight: 100;
    margin-block: 5rem;
}

.main-text h2{
    text-transform: uppercase;
    letter-spacing: 5px;
    margin-right: -5px;
    font-size: 2rem;
    line-height: 1;
    position: relative;
}

.main-text h2::before,
.main-text h2::after{
    content: "";
    width: 5rem;
    height: 3px;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    background-color: var(--main-white);
    border-radius: 8px;
}

.main-text h2::before{
    left: -6rem; 
}
.main-text h2::after{
    right: -6rem; 
}
.main-btn{
    font-size: 1.5rem;
    border: 2px solid var(--main-font-color);
    padding: 2rem 2.5rem;
    letter-spacing: 3px;
    margin-right: -3px;
    position: relative;
    margin-top: 3rem;
}
.main-btn:hover{
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba(0,0,0,.2);
}

.main-btn:active{
    transform: translateY(0);
    box-shadow: none;
}

/* Oour Story */
.store{
    width: 100%;
    min-height: 30rem;
    background: url("images/store.jpeg") center no-repeat;
    background-size: cover;
}

/* Section - Fresh Ingredients */
.fresh-ingredients.betweeen-sec{
    width: 100%;
    height: 550px;

}

/* Section our menu */
.images-group .image-container{
    width: 48%;
    height: 600px;
    display: inline-block;
    vertical-align: top;
}

.images-group .image-container.first {
    background: url("images/lemonade.jpeg") no-repeat center center;
}

.images-group .image-container.second {
    background: url("images/lemonade2.jpeg") no-repeat center center;
}

.images-group .image-container.third {
    background: url("images/lemonade3.jpeg") no-repeat center center;
}

.images-group .image-container.fourt {
    background: url("images/lemonade4.jpeg") no-repeat center center;
}

/* Section - Contact use */
.contact-us form {
    width: 100%;
    min-width: 9rem;
    margin-top: 5rem;
}
.input,
.text-area{
    width: 100%;
    max-width: 100%;
    margin: 5px 0;
    padding: 5px 1rem;
    border-radius: 3px;
    font-size: 1.5rem;
    border: 1px solid var(--main-font-color);
    color:#878787;
}

.input::placeholder
.text-area::placeholder{
    color: #878787;
}

.text-area{
    height: 10rem;
}
.btn-submit{
    background-color: var(--main-font-color);
    color: var(--main-white);
    width: 100%;
    padding: 1rem 0;
    cursor: pointer;
}
.btn-submit{
    background-color: #e1aa2f;
}
/* Footer */

footer{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    background-color: var(--main-white-color);
    padding: 5rem 0;
    font-size: 1.8rem;
    color: var(--main-white);
}
footer h4{
    font-size: 3rem;
    text-transform: uppercase;
    margin-bottom: 1.5rem;
    color: var(--main-font-color);
    font-weight: 100%;
    font-family: "Bebas Neue", sans-serif;
}
footer p{
    color: #fff;
}

footer #timer-alabala{
    color: black;
}

/* Section Citruss */
.citrus-goodness {
    width: 100%;
    background-size: cover;
    background-image: url("./images/9.jpg");
    border: 1px solid red;
    height: 550px;

}
.fresh-ingredients {
    background-size: cover;
    background-image: url("./images/between.jpeg");
    height: 99vh;
    background-position-y: 154px;   
     background-repeat: no-repeat;
    width: 90vw;
    margin-left: 5vw;
}

#open-status{
    color: #141414;
    font-family: "Roboto",sans-serif;
    font-weight: bold;
}